<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold Gym</title>
    style
        include ../websitecode/style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </nav>
    <h1>Join Gym in just $70, Hurry up fill the form. </h1>
    <form method="post" action="">
        <input type="text" name="name" class="form" placeholder="Enter Your Full Name">
        <input type="text" name="age" class="form" placeholder="Enter Your Age">
        <input type="text" name="gender" class="form" placeholder="Enter Your Gender">
        <textarea name="address" id="address" cols="30" rows="10" class="form" placeholder="Enter your address."></textarea>
        <textarea name="motive" id="motive" cols="30" rows="10" class="form" placeholder="Write your motive to join your GYM"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>