<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="E:\WEB DEVELOPMENT\website Projects\Bridgelabs\static\AboutUs.css">
</head>
<body>
    <div id="container1">
        <div>
            <img src="E:\WEB DEVELOPMENT\website Projects\Bridgelabs\static\Images\logo1.jpg">
        </div>
        <nav id="navbar">
            <ul id="navul">
                <li class="navli"><a href="">Home</a></li>
                <li class="navli"><a href="" class="active">About Us</a></li>
                <li class="navli"><a href="">Services</a></li>
                <li class="navli"><a href="">Contact Us</a></li>
            </ul>
        </nav>
        </div>
        <section id='AboutUs1'>
            <h2 class="hprimary">Welcome to Bridge Labs</h2>
            <h3 class="hsecondary">You are one step away to become a Programer</h3>
            <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum harum quam ut dolore mollitia deleniti vitae aperiam. Temporibus, quam inventore.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo aperiam molestiae ipsam voluptate, nisi voluptatem ea doloremque reiciendis impedit eaque nemo soluta dicta?</p>
            <button class="btn">
                <a href="file:///E:/WEB%20DEVELOPMENT/website%20Projects/Bridgelabs/view/contact.html" class="anchor">Sign in</a>
            </button>
    </section>
    <section id="Aboutus2">
        <div id="d1">
            <h2 class="hprimary">About Us</h2>
            <h3 class="hsecondary">Given Below is the Courses we Provide.</h3>
        </div>
        <div id="d2">
            <div id="d21">
                <aside>
                    <ul>
                        <li><a href="#Java">Java</a></li>
                        <li><a href="#JavaScript">JavaScript</a></li>
                        <li><a href="#AngularJS">AnjularJS</a></li>
                        <li><a href="#JQuery">JQuery</a></li>
                        <li><a href="#Bootstrap">Bootstrap</a></li>
                        <li><a href="#Python">Python</a></li>
                        <li><a href="#Machine Learning">Machine Learning</a></li>
                        <li><a href="#Deep Learning">Deep Learning</a></li>
                        <li><a href="#IOT">IOT</a></li>
                        <li><a href="#DJango">DJango</a></li>
                    </ul>
                </aside>
            </div>
            <div id="d22">
                <details class="details">
                    <summary id="Java">Java</summary>
                    <div>
                        <h2>Java Course</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                <details class="details">
                    <summary id="JavaScript">JavaScript</summary>
                    <div>
                        <h2>JavaScript</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                <details class="details">
                    <summary id="AngularJS">AnjularJS</summary>
                    <div>
                        <h2>AngularJS</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                <details class="details">
                    <summary id="JQuery">JQuery</summary>
                    <div>
                        <h2>JQuery</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                <details class="details">
                    <summary id="Bootstrap">Bootstrap</summary>
                    <div>
                        <h2>Bootstrap</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                <details class="details">
                    <summary id="Python">Python</summary>
                    <div>
                        <h2>Python</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                <details class="details">
                    <summary id="Machine Learning">Machine Learning</summary>
                    <div>
                        <h2>Machine Learning</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                <details class="details">
                    <summary id="Deep Learning">Deep Learning</summary>
                    <div>
                        <h2>Deep Learning</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                <details class="details">
                    <summary id='IOT'>IOT</summary>
                    <div>
                        <h2>IOT</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                <details class="details">
                    <summary id="DJango" >DJango</summary>
                    <div>
                        <h2>DJango</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores totam saepe quae? Officia repudiandae cum corrupti alias quisquam quibusdam eligendi eum recusandae. Voluptatibus dolores repellat expedita quod rem quibusdam minima, assumenda obcaecati soluta commodi temporibus cumque, esse, modi blanditiis quaerat eveniet illo doloremque. Expedita doloribus vero reprehenderit, ad reiciendis mollitia?</p>
                    </div>
                </details>
                </section>
            </div>    
        </div>    
    <footer>
        <h2 class="hprimary">Copyrights<sup>&copy</sup> 2020, All Rights Reserved</h2>
        <h3 class="hsecondary">Developed and maintained by Aditya yadav</h3>
    </footer>
</body>
</html>