<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="E:\WEB DEVELOPMENT\website Projects\Bridgelabs\static\contact.css">
</head>
<body>
    <div id="container1">
    <div>
        <img src="E:\WEB DEVELOPMENT\website Projects\Bridgelabs\static\Images\logo1.jpg" alt="">
    </div>
    <nav id="navbar">
        <ul id="navul">
            <li class="navli"><a href="">Home</a></li>
            <li class="navli"><a href="">About Us</a></li>
            <li class="navli"><a href="">Services</a></li>
            <li class="navli"><a href="" class="active">Contact Us</a></li>
        </ul>
    </nav>
    </div>
    <section id="home">
        <h2 class="hprimary">Welcome to Bridge Labs</h2>
        <h3 class="hsecondary">You are one step away to become a Programer</h3>
        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum harum quam ut dolore mollitia deleniti vitae aperiam. Temporibus, quam inventore.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo aperiam molestiae ipsam voluptate, nisi voluptatem ea doloremque reiciendis impedit eaque nemo soluta dicta?</p>
        <button class="btn">
            <a href="#Contact" class="anchor">Sign In</a>
        </button>
    </section>
    <section id="Contact">
        <h1 class="hprimary center">Contact Us</h1>
        <div class="center">
            <h2 class="hsecondary">Fill the form to take admission</h2>
            <input type="text" name="" placeholder="Write Your Name">
            <input type="text" name="" placeholder="Write Your Phone Number">
            <input type="text" name="" placeholder="Write Your Address">
            <input type="text" name="" placeholder="Write Your E-mail">
            <input type="text" name="" placeholder="Language you want to learn">
            <button class="b3 center">Submit</button>
        </div>
    </section>
    <footer>
        <div>
            <h2 class="hsecondary">Copyright<sup>&copy;</sup> Bridge Labs 2020, All Right's Reserved</h2>
            <h2 class="hsecondary">Developed and Maintained by Aditya yadav</h2>
        </div>
    </footer>
</body>
</html>